# Prisma Database URL
DATABASE_URL=

# PostgreSQL
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

# JWT Secret Key
JWT_SECRET=

# Sentry DSN
SENTRY_DSN=

# Application Environment
NODE_ENV=development